@import url("./config.css");
header {
  background-color: #06283e;
  height: 120px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header .logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
header .container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  display: flex;
  gap: 20px;
}

nav a {
  background-color: white;
  padding: 10px 25px;
  color: #06283e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
}
nav .logout {
  background-color: red;
  color: white;
}
.text marquee {
  padding: 30px;
  font-style: 60px;
  font-weight: bold;
  color: #06283e;
  text-transform: uppercase;
}
main {
  margin: 30px 0;
}
h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
main .container {
  padding: 30px;
  border-radius: 20px;
  border: 3px solid #06283e;
  margin-top: 15px;
}
.container .acte {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .acte .identite {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
.acte .identite h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2.5px;
  color: #06283e;
}
.acte .identite p {
  font-size: 16px;
  color: #d98836;
  font-weight: 600;
}
.btn-group {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.btn-group a {
  padding: 10px 30px;
  background-color: #06283e;
  color: white;
  border-radius: 30px;
  font-size: 14px;
}
.id {
  color: red;
  font-weight: 800;
  font-size: 30px;
}
footer {
  background-color: #06283e;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 14px;
}
